.component-4-child3,
.instance-child43 {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
}
.component-4-child3 {
  margin: 0;
  height: 4.24%;
  bottom: 95.76%;
  background-color: var(--color-darkslateblue-100);
}
.instance-child43 {
  height: 100%;
  bottom: 0;
  border-radius: var(--br-3xs);
  background: linear-gradient(#112966, #112966),
    linear-gradient(#112966, #112966), linear-gradient(#112966, #112966),
    #112966;
}
.component-1-child {
  position: absolute;
  height: 92%;
  width: 97.25%;
  top: 0;
  right: 2.75%;
  bottom: 8%;
  left: 0;
}
.company26 {
  position: absolute;
  height: 100%;
  width: 90.83%;
  top: 0;
  left: 9.17%;
  font-size: var(--font-size-sm);
  font-weight: 600;
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
}
.component-11,
.component-51 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  height: 1.74%;
  width: 9.52%;
  top: 1.39%;
  right: 64.97%;
  bottom: 96.88%;
  left: 25.51%;
}
.component-51 {
  height: 1.6%;
  width: 6.21%;
  right: 75.83%;
  bottom: 97.01%;
  left: 17.96%;
}
.component-2-item {
  position: absolute;
  height: 88.46%;
  width: 92.94%;
  top: -0.35%;
  right: 16.47%;
  bottom: 11.89%;
  left: -9.41%;
  border-radius: var(--br-3xs);
  background: linear-gradient(#112966, #112966),
    linear-gradient(#112966, #112966), linear-gradient(#112966, #112966),
    #112966;
}
.safety14 {
  position: absolute;
  height: 96.15%;
  width: 93.4%;
  top: 3.85%;
  left: 6.6%;
  font-weight: 600;
  display: inline-block;
}
.component-21 {
  position: absolute;
  height: 1.81%;
  width: 7.04%;
  top: 1.39%;
  right: 57.12%;
  bottom: 96.81%;
  left: 35.84%;
  cursor: pointer;
}
.component-3-child {
  position: absolute;
  height: 88.46%;
  width: 38.83%;
  top: 0;
  right: 61.17%;
  bottom: 11.54%;
  left: 0;
}
.help15 {
  position: absolute;
  height: 96.15%;
  width: 96.12%;
  top: 3.85%;
  left: 3.88%;
  font-weight: 600;
  display: inline-block;
}
.component-31 {
  position: absolute;
  height: 1.81%;
  width: 8.53%;
  top: 1.39%;
  right: 47.93%;
  bottom: 96.81%;
  left: 43.54%;
  cursor: pointer;
}
.component-4-child4 {
  position: absolute;
  height: 0.14%;
  width: 1.14%;
  top: 2.43%;
  right: 90.76%;
  bottom: 97.43%;
  left: 8.1%;
  background-color: var(--color-cadetblue);
}
.component-4-child5 {
  position: absolute;
  height: 54.18%;
  width: 100%;
  top: 54.25%;
  right: 0;
  bottom: -8.43%;
  left: 0;
  background: linear-gradient(
    113.78deg,
    rgba(17, 41, 102, 0.92),
    rgba(17, 41, 102, 0.78) 33.12%,
    rgba(17, 41, 102, 0.78) 57.09%,
    rgba(17, 41, 102, 0.63) 82.76%
  );
}
.logo2-1-icon12 {
  position: absolute;
  height: 3.19%;
  width: 12.25%;
  top: 0.42%;
  right: 85.68%;
  bottom: 96.39%;
  left: 2.07%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.component-4-child6,
.component-4-child7 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-darkslateblue-100);
  position: absolute;
  height: 2.92%;
  width: 18.65%;
  top: 95.85%;
  right: 78.29%;
  bottom: 1.23%;
  left: 3.06%;
  border-radius: var(--br-xl);
}
.component-4-child7 {
  background-color: var(--color-white);
  right: 57.59%;
  left: 23.76%;
}
.sign-up-to4,
.sign-up-to5 {
  position: absolute;
  height: 1.46%;
  width: 12.13%;
  top: 96.64%;
  left: 8.03%;
  font-weight: 600;
  display: inline-block;
}
.sign-up-to5 {
  height: 1.25%;
  width: 12.81%;
  left: 28.39%;
  color: var(--color-black);
}
.blank-line13 {
  font-weight: 500;
}
.blank-line12 {
  display: block;
}
.cabzee-in-nit2 {
  color: var(--color-palegoldenrod);
}
.introducing-cabzee-in-container2 {
  margin: 0;
  position: absolute;
  height: 25.94%;
  width: 53.23%;
  top: 62.15%;
  left: 3.06%;
  font-size: var(--font-size-7xl);
  display: inline-block;
  color: var(--color-gainsboro);
}
.instance-child46 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-mini);
  background-color: var(--color-white);
}
.component-4-inner2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  height: 2.36%;
  width: 15.48%;
  top: 1.11%;
  right: 2.81%;
  bottom: 96.53%;
  left: 81.71%;
}
.component-item,
.component1 {
  position: absolute;
  top: 0;
  left: 0;
}
.component-item {
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  border-radius: var(--br-3xs);
  background: linear-gradient(rgba(34, 69, 160, 0), rgba(34, 69, 160, 0)),
    linear-gradient(rgba(34, 69, 160, 0), rgba(34, 69, 160, 0)),
    linear-gradient(rgba(34, 69, 160, 0), rgba(34, 69, 160, 0)), 0 0;
}
.component1 {
  height: 88.46%;
  width: 38.83%;
  right: 61.17%;
  bottom: 11.54%;
  display: none;
}
.help16 {
  position: absolute;
  height: 96.15%;
  width: 96.12%;
  top: 3.85%;
  left: 3.88%;
  line-height: 119.02%;
  font-weight: 600;
  display: inline-block;
}
.component-44 {
  position: absolute;
  height: 2.01%;
  width: 10.34%;
  top: 1.32%;
  right: 3.98%;
  bottom: 96.67%;
  left: 85.68%;
  font-size: var(--font-size-xl);
  color: var(--color-black);
}
.road-removebg-preview-1-icon2,
.taxi-removebg-preview-1-icon2 {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.road-removebg-preview-1-icon2 {
  height: 99.71%;
  width: 99.84%;
  bottom: 0.29%;
  left: 0.17%;
  mix-blend-mode: hard-light;
}
.taxi-removebg-preview-1-icon2 {
  height: 100%;
  width: 100%;
  bottom: 0;
  left: 0;
}
.taxi-removebg-preview-22 {
  position: absolute;
  height: 49.71%;
  width: 45.45%;
  top: 33.65%;
  right: 10.07%;
  bottom: 16.64%;
  left: 44.48%;
  transform: rotate(-5.64deg);
  transform-origin: 0 0;
}
.logo2-1-icon13 {
  position: absolute;
  height: 8.99%;
  width: 22.48%;
  top: 33.34%;
  right: 20.23%;
  bottom: 57.67%;
  left: 57.3%;
  border-radius: var(--br-mini);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.cabs1-1-icon2,
.component-62 {
  position: absolute;
  height: 27.64%;
  width: 42.88%;
  top: 64.71%;
  right: 0.83%;
  bottom: 7.65%;
  left: 56.29%;
}
.cabs1-1-icon2 {
  height: 50.23%;
  width: 100%;
  top: 4.21%;
  right: 0;
  bottom: 45.56%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.your-destination-our2 {
  margin: 0;
  position: absolute;
  height: 30.74%;
  width: 72.68%;
  top: 15.01%;
  left: 10.51%;
  font-size: var(--font-size-77xl);
  font-weight: 400;
  font-family: var(--font-poller-one);
  display: inline-block;
}
.logo2-2-icon4 {
  position: absolute;
  height: 5.27%;
  width: 19.45%;
  top: 45.75%;
  right: 41.06%;
  bottom: 48.98%;
  left: 39.49%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  mix-blend-mode: hard-light;
}
.component-43 {
  align-self: stretch;
  position: relative;
  background-color: var(--color-cornflowerblue-100);
  height: 1519px;
  overflow-x: auto;
  flex-shrink: 0;
  display: none;
}
.instance-child47 {
  position: relative;
  width: 100px;
  height: 100px;
  overflow: hidden;
  flex-shrink: 0;
}
.component-4-container {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-lightsteelblue-100);
  width: 1208px;
  height: 3826px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-386xl);
}
.home-child {
  margin: 0;
  height: 1.68%;
  top: 0;
  bottom: 98.32%;
  background-color: var(--color-darkslateblue-100);
}
.cabs1-1-icon3,
.home-child,
.home-item {
  position: absolute;
  width: 100%;
  right: 0;
  left: 0;
}
.cabs1-1-icon3 {
  height: 19.94%;
  top: 1.67%;
  bottom: 78.38%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.home-item {
  height: 21.51%;
  top: 21.62%;
  bottom: 56.87%;
  background: linear-gradient(
    113.78deg,
    rgba(17, 41, 102, 0.92),
    rgba(17, 41, 102, 0.78) 33.12%,
    rgba(17, 41, 102, 0.78) 57.09%,
    rgba(17, 41, 102, 0.63) 82.76%
  );
}
.introducing-cabzee-in-container3 {
  margin: 0;
  position: absolute;
  height: 10.3%;
  width: 53.23%;
  top: 24.99%;
  left: 6.21%;
  font-size: var(--font-size-7xl);
  display: inline-block;
  color: var(--color-gainsboro);
}
.logo2-1-icon14,
.road-removebg-preview-1-icon3,
.taxi-removebg-preview-1-icon3 {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.road-removebg-preview-1-icon3 {
  height: 101.91%;
  width: 101.54%;
  top: 0;
  right: -0.77%;
  bottom: -1.91%;
  left: -0.77%;
  mix-blend-mode: hard-light;
}
.logo2-1-icon14,
.taxi-removebg-preview-1-icon3 {
  height: 110.72%;
  width: 106.98%;
  top: -11.08%;
  right: -6.98%;
  bottom: 0.36%;
  left: 0;
}
.logo2-1-icon14 {
  height: 10.99%;
  width: 22.52%;
  top: 30.98%;
  right: 19.96%;
  bottom: 58.03%;
  left: 57.53%;
  border-radius: var(--br-mini);
}
.component-63 {
  position: absolute;
  height: 10.97%;
  width: 42.88%;
  top: 24.99%;
  right: 2.98%;
  bottom: 64.04%;
  left: 54.14%;
}
.home-child1,
.home-inner {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-darkslateblue-100);
  position: absolute;
  height: 1.16%;
  width: 18.65%;
  top: 37.58%;
  right: 75.14%;
  bottom: 61.26%;
  left: 6.21%;
  border-radius: var(--br-xl);
}
.home-child1 {
  background-color: var(--color-white);
  right: 54.11%;
  left: 27.24%;
}
.sign-up-to6,
.sign-up-to7 {
  position: absolute;
  height: 0.58%;
  width: 12.13%;
  top: 37.87%;
  left: 11.34%;
  font-weight: 600;
  display: inline-block;
}
.sign-up-to7 {
  height: 0.5%;
  width: 12.81%;
  left: 31.71%;
  color: var(--color-black);
}
.component-18-child4 {
  position: absolute;
  height: 138.66%;
  width: 130.54%;
  top: -29.41%;
  right: -14.15%;
  bottom: -9.24%;
  left: -16.39%;
  border-radius: var(--br-xl);
  background-color: var(--color-darkslateblue-200);
}
.logo2-2-icon5 {
  position: absolute;
  height: 110.34%;
  width: 103.05%;
  top: 0;
  right: -1.52%;
  bottom: -10.34%;
  left: -1.52%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.logo2-23 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  height: 13.28%;
  width: 44.88%;
  top: 88.65%;
  right: 28.12%;
  bottom: -1.93%;
  left: 27%;
  border-radius: var(--br-mini);
  mix-blend-mode: hard-light;
}
.component-18-child5,
.rectangle-input {
  border: 3px solid var(--color-darkslateblue-100);
  background-color: var(--color-gray-300);
  position: absolute;
  height: 9.22%;
  width: 97.95%;
  top: 19.86%;
  right: 2.05%;
  bottom: 70.92%;
  left: 0;
  border-radius: var(--br-mini);
  box-sizing: border-box;
}
.component-18-child5 {
  top: 36.6%;
  right: 1.86%;
  bottom: 54.18%;
  left: 0.19%;
}
.request-a-ride1 {
  position: absolute;
  height: 12.34%;
  width: 84.96%;
  top: 0;
  left: 6.67%;
  font-size: var(--font-size-29xl);
  font-weight: 600;
  color: var(--color-black);
  display: inline-block;
}
.component-18-child6,
.component-18-child7 {
  position: absolute;
  width: 3.35%;
  right: 93.85%;
  left: 2.79%;
  background-color: var(--color-gainsboro);
  border: 2px solid var(--color-black);
  box-sizing: border-box;
}
.component-18-child6 {
  height: 2.7%;
  top: 23.26%;
  bottom: 74.04%;
  border-radius: 50%;
}
.component-18-child7 {
  height: 2.41%;
  top: 40%;
  bottom: 57.59%;
}
.component-18-child8 {
  position: absolute;
  height: 12.68%;
  width: 0.34%;
  top: 26.35%;
  right: 95.55%;
  bottom: 60.96%;
  left: 4.11%;
  border-right: 2px solid var(--color-black);
  box-sizing: border-box;
}
.enter-destination1,
.enter-pickup-location1 {
  position: absolute;
  height: 5.82%;
  width: 61.27%;
  top: 22.27%;
  left: 9.5%;
  background: linear-gradient(rgba(0, 0, 0, 0.42), rgba(0, 0, 0, 0.42)),
    rgba(0, 0, 0, 0.42);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}
.enter-destination1 {
  top: 39.01%;
  display: none;
}
.component-18-child9 {
  position: absolute;
  height: 0.34%;
  width: 98.29%;
  top: -0.17%;
  right: 2.56%;
  bottom: 99.83%;
  left: -0.85%;
  border-top: 2px solid var(--color-black);
  box-sizing: border-box;
}
.component-18-child10 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-darkslateblue-100);
  position: absolute;
  height: 13.04%;
  width: 35.73%;
  top: 54.89%;
  right: 64.09%;
  bottom: 32.08%;
  left: 0.19%;
  border-radius: var(--br-mini);
}
.date1 {
  position: absolute;
  height: 4.97%;
  width: 25.64%;
  top: 57.98%;
  left: 8.21%;
  display: inline-block;
}
.component-18-child11 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-darkslateblue-100);
  position: absolute;
  height: 13.72%;
  width: 35.73%;
  top: 54.2%;
  right: 2.74%;
  bottom: 32.08%;
  left: 61.54%;
  border-radius: var(--br-mini);
}
.time2 {
  position: absolute;
  height: 4.97%;
  width: 25.64%;
  top: 57.98%;
  left: 69.91%;
  display: inline-block;
}
.component-181 {
  position: absolute;
  height: 15.24%;
  width: 48.43%;
  top: 47.78%;
  right: 27.65%;
  bottom: 36.98%;
  left: 23.92%;
  font-size: var(--font-size-5xl);
}
.ride {
  position: relative;
  font-size: var(--font-size-21xl);
  font-weight: 600;
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  width: 189.99px;
  height: 37px;
  flex-shrink: 0;
}
.ride-wrapper {
  cursor: pointer;
  border: 0;
  padding: 8.999996185302734px 16.168991088867188px;
  background-color: transparent;
  position: absolute;
  height: 1.91%;
  width: 23.76%;
  top: 45.14%;
  right: 51.08%;
  bottom: 52.95%;
  left: 25.17%;
  background: linear-gradient(rgba(17, 41, 102, 0.55), rgba(17, 41, 102, 0.55)),
    #112966;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: flex-end;
  justify-content: flex-start;
}
.drive {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-21xl);
  font-weight: 600;
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: left;
}
.drive-wrapper {
  cursor: pointer;
  border: 0;
  padding: 6px 29.436630249023438px;
  background-color: transparent;
  position: absolute;
  height: 1.88%;
  width: 23.59%;
  top: 45.14%;
  right: 27.65%;
  bottom: 52.98%;
  left: 48.76%;
  background: linear-gradient(rgba(17, 41, 102, 0.18), rgba(17, 41, 102, 0.18)),
    rgba(17, 41, 102, 0.47);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: flex-end;
  justify-content: flex-end;
}
.home-inner1,
.logo2-24 {
  position: absolute;
  top: 16px;
  left: 1000px;
  width: 187px;
  height: 33.22px;
}
.logo2-24 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  height: 1.17%;
  width: 12.25%;
  top: 0.26%;
  right: 84.44%;
  bottom: 98.56%;
  left: 3.31%;
  background-image: url(./public/logo2-1@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.company28,
.home2 {
  position: absolute;
  height: 0.58%;
  width: 4.55%;
  top: 0.63%;
  left: 18.05%;
  font-weight: 600;
  display: inline-block;
}
.company28 {
  height: 100%;
  width: 90.83%;
  top: 0;
  left: 9.17%;
}
.component-13 {
  height: 0.64%;
  width: 9.52%;
  right: 66.23%;
  bottom: 98.73%;
  left: 24.25%;
}
.component-13,
.component-131,
.safety15 {
  position: absolute;
  top: 0.63%;
  cursor: pointer;
}
.safety15 {
  height: 0.63%;
  width: 6.57%;
  left: 33.77%;
  font-weight: 600;
  display: inline-block;
}
.component-131 {
  height: 0.66%;
  width: 8.53%;
  right: 51.16%;
  bottom: 98.71%;
  left: 40.31%;
}
.rectangle-footer {
  position: absolute;
  top: 3275px;
  left: 0;
  background-color: var(--color-darkslateblue-100);
  width: 1208px;
  height: 551px;
}
.your-destination-our3 {
  margin: 0;
  position: absolute;
  height: 12.21%;
  width: 72.68%;
  top: 6.33%;
  left: 13.49%;
  font-size: var(--font-size-77xl);
  font-weight: 400;
  font-family: var(--font-poller-one);
  display: inline-block;
}
.logo2-4-icon {
  position: absolute;
  height: 2.3%;
  width: 20.12%;
  top: 18.53%;
  right: 41.14%;
  bottom: 79.17%;
  left: 38.74%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  mix-blend-mode: hard-light;
}
.home1 {
  position: relative;
  width: 100%;
  height: 3826px;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-white);
  font-family: var(--font-poppins);
}
