.company-child {
  margin: 0;
  position: relative;
  background-color: var(--color-darkslateblue-100);
  width: 1208px;
  height: 59.6px;
}
.component-4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1208px;
  height: 823.85px;
}
.thanitjuly-42-removebg-preview-icon {
  position: absolute;
  height: 17.47%;
  width: 75.95%;
  top: 7.11%;
  right: -0.2%;
  bottom: 75.42%;
  left: 24.25%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.component-4-parent {
  align-self: stretch;
  position: relative;
  background-color: rgba(126, 163, 236, 0.68);
  height: 2410px;
}
.company {
  position: relative;
  background-color: #fbfcff;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
