.component-15-child10,
.component-15-child9 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-lightsteelblue-200);
}
.component-15-child10 {
  margin: 0;
  height: 7.23%;
  bottom: 92.77%;
  background-color: var(--color-darkslateblue-100);
}
.company13 {
  position: absolute;
  height: 2.73%;
  width: 6.84%;
  top: 2.31%;
  left: 16.8%;
  font-weight: 600;
  display: inline-block;
}
.instance-child15 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background: linear-gradient(rgba(34, 69, 160, 0), rgba(34, 69, 160, 0)),
    linear-gradient(rgba(34, 69, 160, 0), rgba(34, 69, 160, 0)),
    linear-gradient(rgba(34, 69, 160, 0), rgba(34, 69, 160, 0)), 0 0;
}
.component-12-inner5 {
  position: absolute;
  height: 88.46%;
  width: 38.83%;
  top: 0;
  right: 61.17%;
  bottom: 11.54%;
  left: 0;
}
.help7 {
  position: absolute;
  height: 96.15%;
  width: 96.12%;
  top: 3.85%;
  left: 3.88%;
  font-weight: 600;
  display: inline-block;
}
.component-126 {
  position: absolute;
  height: 3.08%;
  width: 8.53%;
  top: 2.31%;
  right: 51.66%;
  bottom: 94.61%;
  left: 39.82%;
  cursor: pointer;
}
.component-10-inner5 {
  position: absolute;
  height: 88.46%;
  width: 51.89%;
  top: 0;
  right: 48.11%;
  bottom: 11.54%;
  left: 0;
}
.safety7 {
  position: absolute;
  height: 96.15%;
  width: 93.4%;
  top: 3.85%;
  left: 6.6%;
  font-weight: 600;
  display: inline-block;
}
.component-106 {
  position: absolute;
  height: 3.08%;
  width: 7.04%;
  top: 2.31%;
  right: 60.6%;
  bottom: 94.61%;
  left: 32.37%;
}
.component-7-inner5 {
  position: absolute;
  height: 92%;
  width: 97.25%;
  top: 0;
  right: 2.75%;
  bottom: 8%;
  left: 0;
}
.company14 {
  position: absolute;
  height: 100%;
  width: 90.83%;
  top: 0;
  left: 9.17%;
  font-weight: 600;
  display: inline-block;
}
.component-76 {
  position: absolute;
  height: 2.96%;
  width: 9.52%;
  top: 2.31%;
  right: 68.05%;
  bottom: 94.73%;
  left: 22.43%;
  cursor: pointer;
}
.logo2-1-icon6 {
  position: absolute;
  height: 5.46%;
  width: 12.25%;
  top: 0.73%;
  right: 85.93%;
  bottom: 93.82%;
  left: 1.82%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.component-156,
.safety-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.safety-child {
  height: 27.67%;
  top: 7.28%;
  bottom: 65.04%;
  background-color: rgba(17, 41, 102, 0.71);
}
.logo2-1-icon7 {
  position: absolute;
  height: 5.46%;
  width: 12.25%;
  top: 26.34%;
  right: 44.21%;
  bottom: 68.2%;
  left: 43.54%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.building-safer-journeys {
  position: absolute;
  height: 14.93%;
  width: 81.29%;
  top: 14.08%;
  left: 12.25%;
  font-size: var(--font-size-29xl);
  font-weight: 600;
  display: inline-block;
}
.safety6 {
  position: relative;
  width: 100%;
  height: 823.85px;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-white);
  font-family: var(--font-poppins);
}
